Source: kmail-account-wizard
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Michael Meskes <meskes@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>,
Build-Depends: cmake (>= 3.1~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.35.0~),
               kross-dev (>= 5.35.0~),
               libkf5akonadi-dev (>= 4:5.6.0~),
               libkf5akonadimime-dev (>= 4:5.6.0~),
               libkf5codecs-dev (>= 5.35.0~),
               libkf5config-dev (>= 5.35.0~),
               libkf5crash-dev (>= 5.35.0~),
               libkf5dbusaddons-dev (>= 5.35.0~),
               libkf5doctools-dev (>= 5.35.0~),
               libkf5identitymanagement-dev (>= 5.6.0~),
               libkf5imap-dev (>= 5.6.0~),
               libkf5kcmutils-dev (>= 5.35.0~),
               libkf5ldap-dev (>= 5.6.0~),
               libkf5libkdepim-dev (>= 4:5.6.0~),
               libkf5libkleo-dev (>= 4:5.6.0~),
               libkf5mailtransport-dev (>= 5.6.0~),
               libkf5newstuff-dev (>= 5.35.0~),
               libkf5notifications-dev (>= 5.35.0~),
               libkf5notifyconfig-dev (>= 5.35.0~),
               libkf5pimcommon-dev (>= 4:5.6.0~),
               libkf5service-dev (>= 5.35.0~),
               libkf5texteditor-dev (>= 5.35.0~),
               libkf5wallet-dev (>= 5.35.0~),
               pkg-config,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev (>= 5.7.0~),
               qttools5-dev (>= 5.7.0~),
               shared-mime-info,
Standards-Version: 4.1.0
Homepage: http://pim.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/kmail-account-wizard.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/kmail-account-wizard.git

Package: accountwizard
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kde-l10n-ast (<< 4:17.03.90-0~),
        kde-l10n-eo (<< 4:17.03.90-0~),
        kdepim-runtime (<< 4:15.07.90~),
        ${kde-l10n:all},
Replaces: kde-l10n-ast (<< 4:17.03.90-0~),
          kde-l10n-eo (<< 4:17.03.90-0~),
          kdepim-runtime (<< 4:15.07.90~),
          ${kde-l10n:all},
Description: wizard for KDE PIM applications account setup
 Handles account setup of e-mail accounts for KDE PIM applications.
